{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Sound</title>

    <!-- Favicon -->
    <link rel="icon" href="../../../media/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="../../../media/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'website:index' %}">Home</a></li>
                                    <li><a href="{% url 'website:album_store' %}">Albums</a></li>
                                    <li><a>profile</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'website:add_album' %}">Add Album</a></li>
                                            <li><a href="{% url 'website:change_password' %}">Change Password</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'website:contact' %}">Contact</a></li>
                                    <li><a href="{% url 'website:logout' %}">Logout</a></li>
                                    <li><a> Hello, {{ user.username }} </a></li>
                                    {% else %}
                                    <li><a href="{% url 'website:index' %}">Home</a></li>
                                    <li><a href="{% url 'website:album_store' %}">Albums</a></li>
                                    <li><a href="{% url 'website:login' %}">Login</a></li>
                                    <li><a href="{% url 'website:register' %}">Register</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Cart Button -->
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../media/img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>All Albums</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
{#
                </div>
            </div>

            <div class="row oneMusic-albums">

                <!-- Single Album -->
                {% for album in album %}
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
                    <div class="single-album">
                        <img src="{{ album.album_logo.url }}" height="auto" width="100%">
                        <div class="album-info">
                                <h5>{{ album.album_name }}</h5>
                            <p>{{ album.singer }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
{#    <!-- ##### Album Catagory Area End ##### -->#}
{##}
{#    <!-- ##### Buy Now Area Start ##### -->#}
{#    <div class="oneMusic-buy-now-area mb-100">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <!-- Single Album Area -->#}
{#                <div class="col-12 col-sm-6 col-md-3">#}
{#                    <div class="single-album-area">#}
{#                        <div class="album-thumb">#}
{#                            <img src="img/bg-img/b1.jpg" alt="">#}
{#                            <!-- Album Price -->#}
{#                            <div class="album-price">#}
{#                                <p>$0.90</p>#}
{#                            </div>#}
{#                            <!-- Play Icon -->#}
{#                            <div class="play-icon">#}
{#                                <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="album-info">#}
{#                            <a href="#">#}
{#                                <h5>Garage Band</h5>#}
{#                            </a>#}
{#                            <p>Radio Station</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Album Area -->#}
{#                <div class="col-12 col-sm-6 col-md-3">#}
{#                    <div class="single-album-area">#}
{#                        <div class="album-thumb">#}
{#                            <img src="img/bg-img/b2.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="album-info">#}
{#                            <a href="#">#}
{#                                <h5>Noises</h5>#}
{#                            </a>#}
{#                            <p>Buble Gum</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Album Area -->#}
{#                <div class="col-12 col-sm-6 col-md-3">#}
{#                    <div class="single-album-area">#}
{#                        <div class="album-thumb">#}
{#                            <img src="img/bg-img/b3.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="album-info">#}
{#                            <a href="#">#}
{#                                <h5>Jess Parker</h5>#}
{#                            </a>#}
{#                            <p>The Album</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Album Area -->#}
{#                <div class="col-12 col-sm-6 col-md-3">#}
{#                    <div class="single-album-area">#}
{#                        <div class="album-thumb">#}
{#                            <img src="img/bg-img/b4.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="album-info">#}
{#                            <a href="#">#}
{#                                <h5>Noises</h5>#}
{#                            </a>#}
{#                            <p>Buble Gum</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="load-more-btn text-center">#}
{#                        <a href="#" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- ##### Buy Now Area End ##### -->#}
{##}
{#    <!-- ##### Add Area Start ##### -->#}
{#    <div class="add-area mb-100">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-12">#}
{#                    <div class="adds">#}
{#                        <a href="#"><img src="img/bg-img/add3.gif" alt=""></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- ##### Add Area End ##### -->#}
{##}
{#    <!-- ##### Song Area Start ##### -->#}
{#    <div class="one-music-songs-area mb-70">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <!-- Single Song Area -->#}
{#                <div class="col-12">#}
{#                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">#}
{#                        <div class="song-thumbnail">#}
{#                            <img src="img/bg-img/s1.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="song-play-area">#}
{#                            <div class="song-name">#}
{#                                <p>01. Main Hit Song</p>#}
{#                            </div>#}
{#                            <audio preload="auto" controls>#}
{#                                <source src="audio/dummy-audio.mp3">#}
{#                            </audio>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Song Area -->#}
{#                <div class="col-12">#}
{#                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">#}
{#                        <div class="song-thumbnail">#}
{#                            <img src="img/bg-img/s2.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="song-play-area">#}
{#                            <div class="song-name">#}
{#                                <p>01. Main Hit Song</p>#}
{#                            </div>#}
{#                            <audio preload="auto" controls>#}
{#                                <source src="audio/dummy-audio.mp3">#}
{#                            </audio>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Song Area -->#}
{#                <div class="col-12">#}
{#                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">#}
{#                        <div class="song-thumbnail">#}
{#                            <img src="img/bg-img/s3.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="song-play-area">#}
{#                            <div class="song-name">#}
{#                                <p>01. Main Hit Song</p>#}
{#                            </div>#}
{#                            <audio preload="auto" controls>#}
{#                                <source src="audio/dummy-audio.mp3">#}
{#                            </audio>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Single Song Area -->#}
{#                <div class="col-12">#}
{#                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">#}
{#                        <div class="song-thumbnail">#}
{#                            <img src="img/bg-img/s4.jpg" alt="">#}
{#                        </div>#}
{#                        <div class="song-play-area">#}
{#                            <div class="song-name">#}
{#                                <p>01. Main Hit Song</p>#}
{#                            </div>#}
{#                            <audio preload="auto" controls>#}
{#                                <source src="audio/dummy-audio.mp3">#}
{#                            </audio>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- ##### Song Area End ##### -->#}


{#    <!-- ##### Footer Area Start ##### -->#}
{#    <footer class="footer-area">#}
{#        <div class="container">#}
{#            <div class="row d-flex flex-wrap align-items-center">#}
{#                <div class="col-12 col-md-6">#}
{#                    <a href="#"><img src="../../../media/img/core-img/logo.png" alt=""></a>#}
{#                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->#}
{#Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>#}
{#<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>#}
{#                </div>#}
{##}
{#                <div class="col-12 col-md-6">#}
{#                    <div class="footer-nav">#}
{#                        <ul>#}
{#                            <li><a href="#">Home</a></li>#}
{#                            <li><a href="#">Albums</a></li>#}
{#                            <li><a href="#">Events</a></li>#}
{#                            <li><a href="#">News</a></li>#}
{#                            <li><a href="#">Contact</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
{#    <!-- ##### Footer Area Start ##### -->#}

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>


{% endblock %}