{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    {% if user.is_authenticated %}
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="blog.html">Add Album</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    {% else %}
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="{% url 'website:login' %}" id="loginBtn">Login / Register</a>
                                    </div>

                                    <!-- Cart Button -->
                                    <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav End -->
</body>
</html>

{% endblock %}